workflows/respect-pos-2.json
{
  "updatedAt": "2026-03-31T20:56:57.156Z",
  "createdAt": "2025-11-21T14:22:30.425Z",
  "id": "79PMh2wbNbZEx9Hy",
  "name": "Respect pos 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pos_checkout",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "9f210881-ded6-4350-9bae-9df27f611e96",
      "name": "Receive Checkout Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1120,
        0
      ],
      "webhookId": "702b2b69-52e5-4759-a091-7f3df2b0422c"
    },
    {
      "parameters": {
        "functionCode": "const checkout = items[0].json.body;\n\nreturn [{\n  json: {\n    messages: [\n      {\n        role: 'system',\n        content: 'You are a POS checkout engine. Return ONLY JSON for totals, tax, and receipt.'\n      },\n      {\n        role: 'user',\n        content: `Process checkout: ${JSON.stringify(checkout)}`\n      }\n    ]\n  }\n}];\n"
      },
      "id": "620b56f9-1c82-4072-a3b4-a6627a21a3d7",
      "name": "Prepare Receipt Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -896,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const raw = items[0].json;\nconst content = raw.output || raw.text; // adapt to AI node output\nconst receipt = JSON.parse(content);\nreturn [{ json: receipt }];\n"
      },
      "id": "c295d579-5f93-46ec-9221-5cd23542e696",
      "name": "Parse Receipt JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -336,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XS2loVt3Hi40cI67CXW50zTwuN-nigrkzFz1n4d2tOg",
          "mode": "list",
          "cachedResultName": "Respect pos 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XS2loVt3Hi40cI67CXW50zTwuN-nigrkzFz1n4d2tOg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XS2loVt3Hi40cI67CXW50zTwuN-nigrkzFz1n4d2tOg/edit#gid=0"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "total",
              "fieldValue": "={{$json[\"totals\"][\"total\"]}}"
            },
            {
              "fieldId": "tax",
              "fieldValue": "={{ $json[\"tax\"] }}"
            },
            {
              "fieldId": "subtotal",
              "fieldValue": "=\t{{$json[\"totals\"][\"subtotal\"]}}"
            },
            {
              "fieldId": "product 1",
              "fieldValue": "={{ $json[\"receipt\"][\"items\"][0][\"name\"] }}"
            },
            {
              "fieldId": "price 1",
              "fieldValue": "={{$json[\"receipt\"][\"items\"][0][\"price\"]}}"
            },
            {
              "fieldId": "product 2",
              "fieldValue": "={{ $json[\"receipt\"][\"items\"][1][\"name\"] }}"
            },
            {
              "fieldId": "price 2",
              "fieldValue": "={{$json[\"receipt\"][\"items\"][1][\"price\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fc0d2009-4311-4b09-9be3-ff85661a7cbd",
      "name": "Log Sale to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -112,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dDO8QdiXIAnd0lpz",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "https://YOUR_POS_URL/update_inventory",
        "jsonParameters": true,
        "options": {}
      },
      "id": "0ca5a4fa-4a45-4095-afb6-10b36b055698",
      "name": "Update Inventory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1216,
        448
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f78bdf4c-bd53-457d-83bb-80b55b1d9d4f",
      "name": "Respond Receipt",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1120,
        328
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -600,
        224
      ],
      "id": "76156d3d-f245-44cc-a9e5-15592869334d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Cs1YHuvIMrtAjIQ3",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json[\"messages\"][0].content + \"\\n\" + $json[\"messages\"][1].content}}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -688,
        0
      ],
      "id": "e941ccc7-db5b-4adc-8062-b256961b65b2",
      "name": "AI Agent"
    }
  ],
  "connections": {
    "Receive Checkout Webhook": {
      "main": [
        [
          {
            "node": "Prepare Receipt Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Receipt Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Receipt JSON": {
      "main": [
        [
          {
            "node": "Log Sale to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Receipt JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "EB95HFPIVjpoSVFl",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ec609bd9-f1b0-418e-9b30-0bc218a83fe5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-21T14:22:30.427Z",
      "createdAt": "2025-11-21T14:22:30.427Z",
      "role": "workflow:owner",
      "workflowId": "79PMh2wbNbZEx9Hy",
      "projectId": "EcobcwWAxGXzBQMt"
    }
  ],
  "activeVersion": null,
  "tags": []
}